<meta charset="utf-8">
<a id="newitem" href="#">New&#174;</a><br/>
<%= link_to 'New Item', new_item_path %>
<div class="demo">

  <div id="column1" class="column">
<div class="portlet"> <div class="portlet-header">News</div> <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>  </div>

    


  </div>

  <div class="column">


  </div>

  <div class="column">



  </div>

</div><!-- End demo -->
<script>
$("#newitem").click(function() {

     $("#column1").append('<div class="portlet"> <div class="portlet-header">Feeds</div> <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>  </div>');
});
    <!--  -->
</script>
